<%- include('../partials/header') %>
<table>
<thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% characters.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.description %></td>
      </tr>
      <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>