<%- include('../partials/header') %>

<section id="show-page-c">
    
    
    <br>
    <div>Description: </div>
    <div><%= character.description %></div>

</section>

<%- include('../partials/footer') %>