<%- include('../partials/header') %>

<section id="show-page">
    <div>Name: </div>
    <div><%= character.name %></div>
    <div>Description: </div>
    <div><%= character.description %></div>
    

<%- include('../partials/footer') %>