<%- include('../partials/header') %>

<form action="/quotes" method="POST">
  <label>Content:
    <input type="text" name="content" required>
  </label>

  <label>Character:
    <select name="characterId" required>
      <% characters.forEach(function(character) { %>
        <option value="<%= character._id %>"><%= character.name %></option>
      <% }); %>
    </select>
  </label>

  <button type="submit">Add Quote</button>
</form>

<%- include('../partials/footer') %>
