<%- include('../partials/header') %>

<section id="show-page">
    <div>Said By: </div>
    <div><%= quote.saidBy %></div>
    <div>Description: </div>
    <div><%= quote.quote %></div>
    

<%- include('../partials/footer') %>