<%- include('../partials/header') %>

<section id="show-page">
    <div>Said By: </div>
    <div><%= quote.who %></div>
    <div>Description: </div>
    <div><%= quote.content %></div>
    

<%- include('../partials/footer') %>