* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main";
  color: black;

}
h3 {
  color: #E8ECEB;
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

body > nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
  background-image: url(https://images.mubicdn.net/images/film/185682/cache-274005-1509489842/image-w1280.jpg?size=800x);
  background-size: cover;
  background-position: center;
  color: black;
}



nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}


table {
  width: 100%; 
  border-collapse: collapse; 
}


th {
  border: none; 
  text-align: center;
  color: #000; 
}


td {
  border: none; 
  padding: 8px; 
  color: #000;
  text-align: center;
  text-decoration: solid; 
}

th,
td {
  color: #000; 
  font-weight: bold; 
  font-size: 16px;
  text-align: left; 
  padding: 8px; 
}

form {
  color: #000; 
}

h1, h2 {
  color: black;
  text-align: center;
}

form label {
  color: black;
}

form button[type="submit"] {
  margin: 0 auto; 
  display: block;
  margin-top: 20px;
  color: black; 
}

table a {
  color: rgb(0, 0, 0); 
}


.quote-content {
  display: inline-block;
}

.delete-form {
  display: inline-block;
  margin-left: 50px; 
}

div {
  color: black;
  font-weight: bold;
}

